
@model CogentDemo.Code.Models.Spotlight

    <div class="blogBox moreBox item">
        <div class="span3">
            <div class="spotlight">
                <div class="spotlightItems">
                    <img class="spotlightImg" src="@Model.ImageUrl" style="background-image:url('@Model.ImageUrl')">
                    <div class="centered_SpotlightText">
                        <h6 class="spotlightHeading"><a href="@Model.Url">@Model.SpotlightHeading</a></h6>
                        <p>
                            @Model.SpotlightText
                        </p>
                        <a href="@Model.Url">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

