@model List<CogentDemo.Code.Models.LoadMoreModel>




@foreach (var item in Model)
{
<li class="item-thumbs span3 design" data-id="id-0" data-type="web">
    <div class="fancybox" title="@item.SpotlightHeading">
        
        <div class="spotlights__title">
            <h6>@item.SpotlightHeading</h6>
        </div>
        <div class="spotlight__content">
            <p>
                @item.SpotlightText
            </p>
            <a href="@item.Url">Read more</a>
        </div>   
    </div>
    <img class="spotlightImg" src="@item.ImageUrl" style="background-image:url('@item.ImageUrl)')">
</li>
}
