@model List<CogentDemo.Code.Models.LoadMoreModel>


@foreach (var item in Model)
{

    <div class="spotlight__card">
        <div class="spotlight__avatar">
            <img class="spotlightImg" src="@item.ImageUrl" style="background-image:url('@item.ImageUrl)')">
        </div>
        <div class="spotlight__info">
            <div class="tweet__user-detail">
                <h6 class="spotlightHeading"><a href="@item.Url">@item.SpotlightHeading</a></h6>
            </div>
        </div>
        <div class="spotlight__content">
            <p>
                @item.SpotlightText
            </p>
            <a href="@item.Url">Read more</a>
        </div>
    </div>
}

